@model List<Usuario>

@{
    ViewData["Title"] = "MostrarUsuarios";
}

<h1>MostrarUsuarios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Usuario
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Email
            </th>
            <th>
                Telefono
            </th>
            <th>
                Rol
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Usuario usuario in Model) {
        <tr>
            <td>
                    @usuario.IdUsuario
            </td>
            <td>
                    @usuario.Nombre
            </td>
            <td>
                    @usuario.Apellido
            </td>
            <td>
                    @usuario.Email
            </td>
            <td>
                    @usuario.Telefono
            </td>
            <td>
                    @usuario.Rol.Nombre
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
