@model IEnumerable<GestionPeluquerias.Models.VistaPeluqueriaDetalle>

<h2>Detalles de la Peluquería</h2>

<table class="table">
    <thead>
        <tr>
            <th>Peluquería</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Horario</th>
            <th>Administrador</th>
            <th>Peluquero</th>
            <th>Servicio</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detalle in Model)
        {
                <tr>
                    <td>@detalle.NombrePeluqueria</td>
                    <td>@detalle.Direccion</td>
                    <td>@detalle.Telefono</td>
                    <td>@detalle.HorarioApertura - @detalle.HorarioCierre</td>
                    <td>@detalle.NombreAdministrador</td>
                    <td>@detalle.NombrePeluquero</td>
                    <td>@detalle.NombreServicio</td>
                    <td>@detalle.PrecioServicio €</td>
                </tr>
        }
    </tbody>
</table>
